@import "tailwindcss";
@font-face {
  font-family: font1;
  src: url(../public/Lausanne-300.woff2);

}
@font-face {
  font-family: font2;
  src: url(../public/Lausanne-500.woff2);
}
/* body{
  overflow-x: hidden;
} */

.movex {
  animation: moveAnimation 10s linear infinite;
}
.MoveLink{
  opacity: 0;
  transition: all;
  transition: opacity 0.2s ease-in-out;
  
}
.link:hover .MoveLink{
  opacity : 1;
  cursor: pointer;
}
.NavContent{
  overflow-x: hidden !important;
  
}

@keyframes moveAnimation {
    from{
        transform: translateX(0%);
    }
    to{ 
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
  .HomeToptext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* or the height you want */
  text-align: center;
  position: relative;
}
  
  .Toptext{
    font-size: 10vw;
    line-height: 13vw;
  }
  .Topvideo{
    height: 12vw;
    width: 22vw;
  }
}