@import "tailwindcss";
@font-face {
  font-family: font1;
  src: url(../public/Lausanne-300.woff2);

}
@font-face {
  font-family: font2;
  src: url(../public/Lausanne-500.woff2);
}
/* body{
  overflow-x: hidden;
} */

.movex {
  animation: moveAnimation 10s linear infinite;
}
.MoveLink{
  opacity: 0;
  transition: all;
  transition: opacity 0.2s ease-in-out;
  
}
.link:hover .MoveLink{
  opacity : 1;
  cursor: pointer;
}
.NavContent{
  overflow-x: hidden !important;
  
}

@keyframes moveAnimation {
    from{
        transform: translateX(0%);
    }
    to{ 
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
  .HomeToptext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;  
  text-align: center;
  position: relative;
  font-size: 15vw;
}
  .Toptext{
    font-size: 10vw;
    line-height: 13vw;
  }
  .Topvideo{
    height: 12vw;
    width: 22vw;
  }
  .rightNav{
    width: 40vw;
    height: 10vw;
  }
  .BottomText{
    font-size: 6vw;
    line-height: 7vw;
    width: 100%;
  }
  .BottomText .Innerdiv{
    padding: 0 10vw;
  }
  .logo {
    width: 32vw;
  }
  .logo svg {
    width: 100%;
  }
  .agenceText{
    margin-top: 50vw !important;

  }
  .AgencePra{
    padding-left: 35vw;
  }
  .AgencePra p{
    font-size: 5vw;
  }
 .scrolldev{
    width: 40vw !important; 
    height: 70vw !important;
    margin-top: -23vw !important;
    margin-left: -100vw !important;
 }
}
@media (min-width: 1024px) {
  
}