@import "tailwindcss";
@font-face {
  font-family: font1;
  src: url(../public/Lausanne-300.woff2);

}
@font-face {
  font-family: font2;
  src: url(../public/Lausanne-500.woff2);
}
/* body{
  overflow-x: hidden;
} */

.movex {
  animation: moveAnimation 10s linear infinite;
}
.MoveLink{
  opacity: 0;
  transition: all;
  transition: opacity 0.2s ease-in-out;
  
}
.link:hover .MoveLink{
  opacity : 1;
  cursor: pointer;
}

@keyframes moveAnimation {
    from{
        transform: translateX(0%);
    }
    to{ 
        transform: translateX(-100%);
    }
}